<h1><%= @title %></h1>

<% worksheet = @spreadsheet.worksheets[0] %>
<% nb_cols = worksheet.num_cols()%>
<% i = 1 %>
<% until (worksheet[i,1].nil? && worksheet[i+1,1].nil?) %>
	<p>
	<% for j in 1..nb_cols %>
		<%= worksheet[i,j] %>
	<% end %>
	<% i += 1 %>
	</p>
<% end %>