<h1>DriveFile#open</h1>
<p>Find me in app/views/drive_file/open.html.erb</p>

<% @spreadsheet.worksheets.each do |worksheet| %>
	<% worksheet.each |a|%>
		<% a.each |b|%>
			<p><%= b %></p>
		<% end %>
	<% end %>
<% end %>
